.venv
.DS_Store
telegram_credentials_local.py
__pycache__
data/raw/*
data/labeled/*
data/processed/*
models/*
results/*
figures/*
.idea/*
.vscode/*
.pytest_cache/*
.mypy_cache/*
.ipynb_checkpoints/*

*.session
*.session-journal
*.csv
*.toml
*.env